	
html {

	--standard: 1140px;
	--tight: 800px;
	--wide: 1400px;

	--black: #000000;
	--white: hsla(0, 0%, 100%, 1.00);

	--neutral-stuffs: hsla(0, 0%, 46%, 1.00);

	--red:  #ee486c;
	--blue:  #2aa1eb;
	--green:  hsla(144, 100%, 41%, 1.00);

	--shadow: rgba(0, 0, 0, 0.8);

	--corners: 10px; /* or whatevers */

	--paper: rgb(15, 15, 110);
	--ink: var(--black);

}

